body{
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  width:100%;
  height:50px;
  padding:0;
  margin:0;
  position: fixed;
  z-index:100;
  background-color: #333333;
}

header img{
  margin-top:3px;
}

/*SOCIAL*/
.sb-container{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  width: 140px;
  float: right;
}

.rrssb-buttons.small-format li {
  height:30px !important;
  margin-top:3px;
  /* width:30% !important; */
  
}

.rrssb-buttons.small-format li a .rrssb-icon svg{top:4px !important;}
.rrssb-buttons.small-format {padding-top: 7px !important;}

a:visited {
    color: #fb9d04;
    text-decoration: none;
    font-weight: normal;
}
a:hover {
    color: #fb9d04;
    text-decoration: underline;
    font-weight: normal;
}

a:link {color: #fb9d04;
    text-decoration: none;
    font-weight: normal;
}

/* interactive specific */

.section{
  min-height: auto;
  width: 100vw;
}

.cover{
  width:100vw !important;
  height: 100vh !important;
}

.cover-image{
  position:absolute; 
  /* z-index:5;  */
  width:100vw; 
  height:100%;
  background-size:cover !important; 
  background-position-x: center !important; 
  
}

.cover .content{
  min-height:100%; position:relative; z-index:10;padding:0 20px 0 20px; width:100vw;justify-content: space-between;
}

.headline{
  margin:0 0 50px 12px;
}

.headline h2{display:inline;}

.content{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  width:100%;
  margin-bottom: 45px;
}

.highlight{
  background:#FF9900; padding:5px 0 5px 0; line-height:40px; color:#fff; box-shadow: 10px 0 0 #FF9900, -10px 0 0 #FF9900;
}

.section .event{
  background: #666666;
  color:#fff;
  padding:44px 0 20px 0;
  min-height:45vh;
}

.section .event .date{font-size:24px; border-bottom:1px solid #fff;}
.section .event .date div{padding:20px 20px 10px 20px;}
.section .event .text{border-left:1px solid #fff; margin-left:40px; padding:10px 20px 10px 20px;font-size:16px;}

.section .tweet{
  padding:5px 20px 0 20px;
}

.section .ratings{
  
    background: #333333;
    color:#fff;
    padding:12px 20px 12px 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size:13px;
    text-align:center;
    align-self: end;
    width: 100%;
  
}

.section .ratings .head{
  display: block;
  padding:0 0 5px 0;
  font-size:12px;
}

.section .ratings .value{
  display: block;
  color:#FF9900;
  font-size:18px;
  
}

.next{
  background: #605F5F;
  height: 45px;
  align-self: end;
  width: 100vw;
  margin-top:auto;
  position:fixed;
  bottom:0;
  z-index:10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next .arrow{
  padding:6px;
}

.next .a-home img{
  padding:10px; opacity:0.8;
}

.a-right, .a-left{
  padding:11px 20px;
  background-image:none !important;
  position: relative !important;
  width: auto !important;
  height: auto !important;
  margin-top: 0 !important;
  cursor: pointer !important; 
  top:0 !important; 
  left:0 !important;
  opacity:0.8;
}

.a-left{float:left;}
.a-right{float:right;}

.arrow-container{
  position:relative; 
  /* right:25px; bottom:50px; */
  padding-left:15px;
  margin-top:-5px;
}

.arrow {
  border: solid #fff;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.splash-container{display:flex; flex-direction: row; min-height:100vh;}
.splash-container .month{display:flex;height:40vh; background-size:cover !important; background-position-x: center !important; width:100%; margin-top:50px;}
.splash-container .month .month-name{margin-top:auto; padding:20px 20px 0 20px;font-size: 60px;line-height: 45px;letter-spacing: -3px; width:100%;}
.splash-container .summary{padding:20px; color:#fff; font-size:16px;}
.splash-container .summary .stats{margin-top:30px;}
.splash-container .summary .stats .stat-name{font-size:12px;}
.splash-container .summary .stats .stat-value{font-size: 50px;line-height: 40px;}
.splash-container .summary .stats .stat-extra{font-size:10px; padding-top:5px;}

.event-container{display:flex; flex-direction: row; height:100%;}
.approve{margin:0 15px 0 15px}
.disapprove{margin:0 15px 0 15px}
.no-opinion{margin:0 15px 0 15px}


.splash1 {
  background:#660033;
  color: #660033;
}
.splash2 {
  background:#C26600;
  color: #C26600;
}
.splash3 {
  background:#668F00;
  color: #668F00;
}
.splash4 {
  background:#8F0066;
  color: #8F0066;
}
.splash5 {
  background:#660066;
  color: #660066;
}
.splash6 {
  background:#338F66;
  color: #338F66;
}
.splash7 {
  background:#C28F00;
  color: #C28F00;
}
.splash8 {
  background:#008F8F;
  color: #008F8F;
}
.splash9 {
  background:#00C2C2;
  color: #00C2C2;
}
.splash10 {
  background:#66668F;
  color: #66668F;
}
.splash11 {
  background:#663333;
  color: #663333;
}
.splash12 {
  background:#660000;
  color: #660000;
}
.splash13 {
  background:#666633;
  color: #666633;
}

.index-container{
  display:flex; flex-direction:column; margin-top:50px; margin-bottom:45px;
}

.index-month{
  width:100%;
  padding:10px 20px 10px 20px;
  /* color:#fff; */
  color: #666666;
  font-size:20px;
}

.index-month .ac{
  float:right;
}

.index-month span .arrow{
  padding:5px;
}

.month-link .arrow{border-color:#666;}

.mi-cont{display:inline-block; width:45px; line-height:7px; text-align:center; margin-left:0px;color:#fff;}
.mi-per{display:inline-block; padding:5px; border-radius:50px; font-size:16px; padding:5px;}
.mi-lab{display:inline-block; font-size:8px; text-align:center; color:#666666; display:none;}

/* spinner */
.loader{
  display: flex;
      align-items: center;
  justify-content: center; min-height:100vh;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
  max-width: 50%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* swiper */
.swiper-container {
  width: auto;
  min-height: 100vh;
  height: auto;
}

@media screen and (min-width: 720px) {
  .content {
      width:100%;
  }
  .cover{
    width:100vw !important;
  }

}

@media screen and (min-width: 980px) {
  .content {
      width:100%;
  }

  .cover{
    width:100vw !important;
  }

  

}

@media screen and (min-width: 1080px) {
  .content {
      width:100%;
  }
  .cover{
    width:100vw !important;
  }

}

@media screen and (min-width:560px) and (max-width: 720px) {
  
  .section .ratings .head {font-size:14px;}
  .section .ratings .value {font-size:20px;}
  .section .event .date{font-size: 24px;}
  .section .event .text{font-size:20px;padding: 25px 50px 10px 50px;}
  
}

@media screen and (min-width: 920px){
  .section .ratings .head {font-size:14px;}
  .section .ratings .value {font-size:20px;}
  .splash-container .summary{font-size:24px;}
  .splash-container .summary .stats .stat-name{font-size:18px;}
  .splash-container .summary .stats .stat-value{font-size:65px;}
  .splash-container .month .month-name{font-size: 75px;line-height: 55px;}
  .section .event {min-height:35vh;}
  /* .splash-container .month{background-position: 50% 10% !important;} */
  section[data-md="2017-12"] .splash-container .month{background-position:50% 46% !important;}
  section[data-md="2017-11"] .splash-container .month{background-position:50% 70% !important;}
  section[data-md="2017-7"] .splash-container .month{background-position:50% 24% !important;}
  section[data-md="2017-1"] .splash-container .month{background-position:50% 15% !important;}
  section[data-md="2017-2"] .splash-container .month{background-position:50% 38% !important;}
  section[data-md="2017-3"] .splash-container .month{background-position:50% 52% !important;}
  section[data-md="2017-4"] .splash-container .month{background-position:50% 20% !important;}
  section[data-md="2017-5"] .splash-container .month{background-position:50% 35% !important;}
  section[data-md="2017-6"] .splash-container .month{background-position:50% 35% !important;}
  section[data-md="2018-1"] .splash-container .month{background-position:50% 77% !important;}

} 

@media screen and (min-width: 1080px)
{
  .tweet{margin:0 auto;}
  .section .event .text{font-size:18px;padding: 25px 50px 10px 50px;}
}

@media screen and (max-width:919px){

  /* bg image fixes */
section[data-md="2017-12"] .splash-container .month{background-position:50% 55% !important;}

}